# Composer
composer.phar
*/vendor/*

# IDE
.idea
.vscode

# Mage2playground
.env
docker/cli/mage2cli.env
docker/db/mage2db.env
docker/varnish/mage2varnish.env
docker/vuestorefront/mage2vue.env
docker/pwa-studio/mage2pwa.env
docker/elasticsearch/config/elasticsearch.yml
docker/kibana/config/kibana.yml
docker/varnish/config/default.vcl
docker/nginx/config/mage2playground.conf
docker/haproxy/config/haproxy.cfg
/mage2vue
/mage2vue-api
/mage2pwa

# Magento 2
/mage2/.buildpath
/mage2/.cache
/mage2/.metadata
/mage2/.project
/mage2/.settings
/mage2/atlassian*
/mage2/nbproject
/mage2/robots.txt
/mage2/pub/robots.txt
/mage2/sitemap
/mage2/sitemap.xml
/mage2/pub/sitemap
/mage2/pub/sitemap.xml
/mage2/.gitattributes
/mage2/app/config_sandbox
/mage2/app/etc/env.php
/mage2/app/code/Magento/TestModule*
/mage2/lib/internal/flex/uploader/.actionScriptProperties
/mage2/lib/internal/flex/uploader/.flexProperties
/mage2/lib/internal/flex/uploader/.project
/mage2/lib/internal/flex/uploader/.settings
/mage2/lib/internal/flex/varien/.actionScriptProperties
/mage2/lib/internal/flex/varien/.flexLibProperties
/mage2/lib/internal/flex/varien/.project
/mage2/lib/internal/flex/varien/.settings
/mage2/.grunt
/mage2/Gruntfile.js
/mage2/.php_cs
/mage2/.php_cs.cache
/mage2/grunt-config.json
/mage2/dev/tools/grunt/configs/local-themes.js
/mage2/update
/mage2/phpserver
/mage2/pub/media/*.*
!/mage2/pub/media/.htaccess
/mage2/pub/media/attribute/*
!/mage2/pub/media/attribute/.htaccess
/mage2/pub/media/analytics/*
/mage2/pub/media/catalog/*
!/mage2/pub/media/catalog/.htaccess
/mage2/pub/media/customer/*
!/mage2/pub/media/customer/.htaccess
/mage2/pub/media/downloadable/*
!/mage2/pub/media/downloadable/.htaccess
/mage2/pub/media/favicon/*
/mage2/pub/media/import/*
!/mage2/pub/media/import/.htaccess
/mage2/pub/media/logo/*
/mage2/pub/media/theme/*
/mage2/pub/media/theme_customization/*
!/mage2/pub/media/theme_customization/.htaccess
/mage2/pub/media/wysiwyg/*
!/mage2/pub/media/wysiwyg/.htaccess
/mage2/pub/media/tmp/*
!/mage2/pub/media/tmp/.htaccess
/mage2/pub/media/captcha/*
/mage2/pub/static/*
!/mage2/pub/static/.htaccess
/mage2/var/*
!/mage2/var/.htaccess
!/mage2/vendor/.htaccess
/mage2/generated/*
!/mage2/generated/.htaccess
/mage2.DS_Store
/mage2/CHANGELOG.md
/mage2/CONTRIBUTING.md
/mage2/COPYING.txt
/mage2/ISSUE_TEMPLATE.md
/mage2/LICENSE_AFL.txt
/mage2/LICENSE.txt
/mage2/Gruntfile.js.sample
/mage2/grunt-config.json.sample
/mage2/nginx.conf.sample
/mage2/.htaccess.sample
/mage2/auth.json
/mage2/auth.json.sample
/mage2/package.json.sample
/mage2/.php_cs.dist
/mage2/php.ini.sample
/mage2/bin
/mage2/dev
/mage2/lib
/mage2/pub
/mage2/setup
/mage2/var
