# Magento 2
/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/.grunt
/Gruntfile.js
/.php_cs
/.php_cs.cache
/grunt-config.json
/dev/tools/grunt/configs/local-themes.js
/update
/phpserver
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess
/var/*
!/var/.htaccess
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store
/CHANGELOG.md
/CONTRIBUTING.md
/COPYING.txt
/ISSUE_TEMPLATE.md
/LICENSE_AFL.txt
/LICENSE.txt
/Gruntfile.js.sample
/grunt-config.json.sample
/nginx.conf.sample
/.htaccess.sample
/auth.json
/auth.json.sample
/package.json.sample
/.php_cs.dist
/php.ini.sample
/bin
/dev
/lib
/pub
/setup
/var


# Composer
composer.phar
/vendor/


# IDE
.idea
.vscode

# Mage2playground
.env
/vue-storefront
/vue-storefront-api
