# Composer
composer.phar
*/vendor/*

# IDE
.idea
.vscode

# Mage2playground
.env
docker/cli/mage2cli.env
docker/db/mage2db.env
docker/varnish/mage2varnish.env
docker/vuestorefront/mage2vue.env
docker/pwa-studio/mage2pwa.env
docker/elasticsearch/config/elasticsearch.yml
docker/kibana/config/kibana.yml
docker/varnish/config/default.vcl
docker/nginx/config/mage2playground.conf
docker/traefik/traefik.yml
/mage2vue
/mage2vue-api
/mage2pwa
/mage2
