## Mage2 parameters
MAGE2_INSTALL_PARAMS=--base-url=http://mage2playground.docker/ --db-host=db --db-name=mage2 --db-user=mage2 --db-password=mage2 --backend-frontname=admin --admin-firstname=admin --admin-lastname=admin --admin-email=admin@admin.com --admin-user=admin --admin-password=admin123 --language=en_US --currency=USD --timezone=Europe/Minsk --use-rewrites=1 --cleanup-database
MAGE2_USE_SAMPLE_DATA=false
MAGE2_VARNISH_FPC=true
