#DEV_SERVER_HOST=mage2pwa.docker
#DEV_SERVER_PORT=8080
#DEV_SERVER_SERVICE_WORKER_ENABLED=0
#DEV_SERVER_WATCH_OPTIONS_USE_POLLING=0
#CUSTOM_ORIGIN_ENABLED=0
#CUSTOM_ORIGIN_ADD_UNIQUE_HASH=1
MAGENTO_BUILDPACK_PROVIDE_SECURE_HOST=0
MAGENTO_BUILDPACK_SECURE_HOST_ADD_UNIQUE_HASH=1
MAGENTO_BACKEND_URL=http://nginx/
UPWARD_JS_UPWARD_PATH=venia-upward.yml
UPWARD_JS_BIND_LOCAL=1
UPWARD_JS_LOG_URL=1
CHECKOUT_BRAINTREE_TOKEN=sandbox_8yrzsvtm_s2bg8fs563crhqzk
