MAGENTO_BACKEND_URL=http://nginx/
MAGENTO_BUILDPACK_PROVIDE_SECURE_HOST=0
MAGENTO_BUILDPACK_SECURE_HOST_ADD_UNIQUE_HASH=1
UPWARD_JS_UPWARD_PATH=venia-upward.yml
UPWARD_JS_BIND_LOCAL=1
UPWARD_JS_LOG_URL=1
BRAINTREE_TOKEN=sandbox_8yrzsvtm_s2bg8fs563crhqzk

WEBPACK_HOST=localhost
