#
# Proxy and Load Balancing sample configuration
#

global
    log /dev/log    local0
    maxconn         4096
    daemon

defaults
    log             global
    mode            http

    timeout connect 15s
    timeout client  30s
    timeout server  30s

    option          httplog
    option          dontlognull
    option          forwardfor
    option          http-server-close
    http-reuse      always

listen stats
    bind            *:8888
    stats           enable
    stats           hide-version
    stats refresh   15s
    stats uri       /
    stats realm     HAProxy Statistics
    stats auth      admin:admin

frontend proxy
    bind		    *:80
    default_backend mage2playground

#    acl mage2vue hdr_beg(host) -i mage2vue.docker
#    use_backend vue_storefront if mage2vue

#    acl mage2pwa hdr_beg(host) -i mage2pwa.docker
#    use_backend pwa_studio if mage2pwa

backend mage2playground
    balance leastconn
    retries 2
    server mage2playground_1 varnish:80

#backend vue_storefront
#    balance leastconn
#    retries 2
#    server vue_storefront_1 vue-s8t:3000

#backend pwa_studio
#    balance leastconn
#    retries 2
#    server pwa_studio_1 pwa-studio:10000
